<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit the Chats</title>
  </head>
  <body>
    <h2>Edit your Chat : <%=chat._id%></h2>
    <p>
      This chat is send from <b><i><%=chat.from%></i></b> to
      <b><i><%=chat.to%></i></b>
    </p>
    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
      <textarea name="msg" rows="6" cols="50"><%=chat.msg%></textarea>
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
